.breadcrumbs {
    background: #e9ecef;;
    padding: 24px 0;

    .breadcrumb-separator {
        font-size: 14px;
        color: lighten(#6c757d, 20%);
    }

    .breadcrumbs-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.search-icon {
    color: #0ed862;
}
.searchInformation {
    background-color: $white;
    h1 {
        color: $minecrossing-text;
        font-weight: bold;
    }
    p {
        font-style: italic;
    }
}
.search-product {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.search-price {
    color: $minecrossing-text;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
