#app {
    background: url('/storage/images/background.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
// #image-header {
//     min-width: 100%;
//     overflow: hidden;
//     background: #fff;
//     opacity: 0.7;
//     margin: 0;
// }