// div.nav-style > ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     border: 1px solid #e7e7e7;
//     background-color: #f3f3f3;
// }
  
// div.nav-style > li {
//     float: left;
//     a {
//         display: block;
//         color: #666;
//         text-align: center;
//         padding: 14px 16px;
//         text-decoration: none;
//     }
// }
  
// .nav-style > li > a:hover:not(.active) {
//     background-color: #ddd;
// }
  
// .nav-style > li > a.active {
//     color: #f3f3f3;
//     background-color: #0FE369;
// }
// .nav-style > li > a.active:hover {
//     background-color: #0ed862;
// }
.nav-style {
    width: 100%;
    text-align: center;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        // border: 1px solid #e7e7e7;
        // background-color: #f3f3f3;
        background-color: #fff;
    }

    li {
        float: left;
    }

    a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover:not(.active) {
        background-color: #ddd;
    }

    a.active {
        color: #f3f3f3;
        background-color: #0FE369;
    }

    a.active:hover {
        background-color: #0ed862;
    }
}
